<h1>Sign Up Below:</h1>
<<<<<<< HEAD
<form method="post" action="/registrations">
   <input type="text" name="name">
   <input type="text" name="email">
   <input type="text" name="password">
   <input type="submit" value="Sign Up">
=======
<form method="post" action="">
   <input type="text" name="name">
   <input type="text" name="email">
   <input type="text" name="password">
  
>>>>>>> 0d12f5cd365e1c506585105e28241f0eeaa49b8d
</form>

